<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand abs" href="" id="main_page_link">Paper publishing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="" id="sciencePapers">Science Papers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" *ngIf="loggedEditor()" href="assignReviewer" id="assignReviewer">Assign Reviewer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" *ngIf="loggedReviewer()" href="myRequests" id="myRequests">My Requests</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" *ngIf="loggedAuthor()" href="addReview" id="addReview">Add review</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" *ngIf="loggedEditor()" href="manageReviews" id="manageReviews">Manage reviews</a>
            </li>
        </ul>
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <button *ngIf="loggedIn()" (click)="logout()" class="btn nav-link" id="logout_btn"><b>Logout</b></button>
          </li>
          <li class="nav-item">
              <a *ngIf="!loggedIn() && router.url != '/login'" class="nav-link" href="login" id="login_link"><b>Login</b></a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>